.page {
    margin-top: 100px;
    background-color: rgb(240, 235, 228);
    box-shadow: 10px 10px 10px silver;
    padding: 50px;
    display: flex;
    height: 350px;
    width: 350px;
    width: fit-content;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e2e7e8;
}

h1 {
font-family: 'Courier New', Courier, monospace;
}

.page div{
    padding: 0px;
    border-radius: 3px;
    background-color: rgb(201, 199, 197);
    padding-left: 10px;
    width: 100%;
}


.button {
    border-radius:5px ;
    height: 36px;
    width: 50%;
    margin-left: 23%;
    margin-top: 15px;
    
}